<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header class="header header-6 sticky-active">
  <div class="bg-shape"></div>
  <div class="top-bar">
    <div class="container">
      <div class="top-bar-inner">
        <ul class="top-bar-list">
          <li>
            <i class="fa-sharp fa-solid fa-phone"></i>
            <a href="tel:+61486010043">+61 (0) 486 010 043</a>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-location-dot"></i>77 St Georges Rd, Preston VIC 3072
          </li>
          <li>
            <i class="fa-sharp fa-regular fa-envelope"></i>
            <a href="mailto:s1557984@student.mp.edu.au"
              >s1557984@student.mp.edu.au</a
            >
          </li>
        </ul>
        <div class="top-bar-right">
          <div class="top-bar-social">
            <span>Follow Me On: </span>
            <ul class="social-list">
              <li>
                <a href="https://github.com/hdmquan">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/hdmquan">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="primary-header">
    <div class="container">
      <div class="primary-header-inner">
        <div class="header-logo">
          <a href="/">
            <img
              class="logo-dark"
              src="/assets/svgs/logo-white.svg"
              alt="North Melbourne Web Logo"
            />
            <img
              class="logo-light"
              src="/assets/svgs/logo-white.svg"
              alt="North Melbourne Web Logo"
            />
          </a>
        </div>
        <div class="header-menu-wrap">
          <div class="mobile-menu-items">
            <ul>
              <li>
                <a href="/">L'Adverstisement</a>
              </li>
              <li>
                <a href="http://ec2-54-206-24-16.ap-southeast-2.compute.amazonaws.com/">Home</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.header-menu-wrap -->
        <div class="header-right-wrap">
          <div class="header-right">
            <div class="sidebar-icon">
              <button class="sidebar-trigger open">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
          <!-- /.header-right -->
        </div>
      </div>
      <!-- /.primary-header-inner -->
    </div>
  </div>
</header>
<!-- /.Main Header -->

<div id="popup-search-box">
  <div class="box-inner-wrap d-flex align-items-center">
    <form id="form" action="#" method="get" role="search">
      <input
        id="popup-search"
        type="text"
        name="s"
        placeholder="Type keywords here..."
      />
    </form>
    <div class="search-close">
      <i class="fa-sharp fa-regular fa-xmark"></i>
    </div>
  </div>
</div>
<!-- /#popup-search-box -->

<div class="mobile-side-menu">
  <div class="side-menu-content">
    <div class="side-menu-head">
      <a href="/"
        ><img src="/assets/svgs/logo-white.svg" alt="north melbourne web logo"
      /></a>
      <button class="mobile-side-menu-close">
        <i class="fa-regular fa-xmark"></i>
      </button>
    </div>
    <div class="side-menu-wrap"></div>
    <ul class="side-menu-list">
      <li>
        <i class="fa-light fa-location-dot"></i>Address :
        <span>77 St Georges Rd, Preston VIC 3072</span>
      </li>
      <li>
        <i class="fa-light fa-phone"></i>Phone :
        <a href="tel:+61486010043">+61 (0) 486 010 043</a>
      </li>
      <li>
        <i class="fa-light fa-envelope"></i>Email :
        <a href="mailto:s1557984@student.mp.edu.au"
          >s1557984@student.mp.edu.au</a
        >
      </li>
    </ul>
  </div>
</div>
<!-- /.mobile-side-menu -->
<div class="mobile-side-menu-overlay"></div>

<div id="sidebar-area" class="sidebar-area">
  <button class="sidebar-trigger close">
    <svg
      class="sidebar-close"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="16px"
      height="12.7px"
      viewBox="0 0 16 12.7"
      style="enable-background: new 0 0 16 12.7"
      xml:space="preserve"
    >
      <g>
        <rect
          x="0"
          y="5.4"
          transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.1569 7.5208)"
          width="16"
          height="2"
        ></rect>
        <rect
          x="0"
          y="5.4"
          transform="matrix(0.7071 0.7071 -0.7071 0.7071 6.8431 -3.7929)"
          width="16"
          height="2"
        ></rect>
      </g>
    </svg>
  </button>
  <div class="side-menu-content">
    <div class="side-menu-logo">
      <a class="dark-img" href="/"
        ><img src="/assets/svgs/logo-white.svg" alt="north melbourne web logo"
      /></a>
      <a class="light-img" href="/"
        ><img src="/assets/svgs/logo-black.svg" alt="north melbourne web logo"
      /></a>
    </div>
    <div class="side-menu-wrap"></div>
    <div class="side-menu-about">
      <div class="side-menu-header">
        <h3>About... whatever this is</h3>
      </div>
      <p>
        Le site web de l'adverstisement
      </p>
    </div>
    <ul class="side-menu-social">
      <li>
        <a href="https://github.com/hdmquan">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/hdmquan">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--/.sidebar-area-->
